.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  padding-bottom: 50px;
}

.pageHeadingWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.formContainer {
  width: 70%;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  height: 70vh;
  @media (max-width: 768px) {
    width: 90%;
  }
}

.text {
  color: rgb(4, 4, 34);
  font-size: 15px;
  text-align: center;
}