.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: whitesmoke; */
  /* padding-bottom: 50px; */
}

.pageHeadingWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.formContainer {
  display: flex;
  width: 70%;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  height: 60vh;
  @media (max-width: 800px) {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

.text {
  color: rgb(4, 4, 34);
  font-size: 15px;
  text-align: center;
}

.detailsBarWrapper {
  background-color: whitesmoke;
  border-radius: 7px;
  position: relative;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 40%;
  padding-bottom: 100px;
  @media (max-width: 800px) {
    padding-bottom: 80px;
    width: 90%;
  }
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textOne {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.textTwo {
  text-align: center;
  font-size: 12px;
  line-height: 18px;
}

.contactsWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 50px;
  cursor: pointer;
}

.contactText {
  font-size: 15px;
  margin-left: 10px;
}

.socialsWrapper {
  display: flex;
  justify-content: center;
  display: flex;
  height: 10px;
  justify-content: center;
  bottom: 30px;
  position: absolute;
  cursor: pointer;
}

.socialIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #FFBF00;
  }
}

.inputSideWrapper {
  height: auto;
  padding-bottom: 100px;
  position: relative;
  width: 100%;
  padding: 10px 10px 100px 10px;
}

.inputWrapper {
  border: 2px solid transparent;
  width: 90%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.input {
  color: #333;
  width: 100%;
  font-size: 15px;
  padding: 8px;
  border-bottom: 1px solid rgb(132, 107, 245);
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  outline: 0px transparent !important;
}

.messageInput {
  width: 100%;
  color: #333;
  font-size: 15px;
  padding: 10px;
  border-bottom: 1px solid rgb(132, 107, 245);
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  outline: 0px transparent !important;
}

.submitButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: rgb(132, 107, 245);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 25px 12px 24px;
  cursor: pointer;
}